body{
    background-color: #e9ecf5;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.tabla{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #222;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 14px;
}

.caja{
    width: 300px;
    margin: 35px;
    padding: 1%;
    border: 1px solid #aaa;
    border-radius: 10px;
    text-align: center;
}

.caja_nombre a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.caja_codigo{
    font-size: 12px;
}

.caja_img{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 8px;
}

.foto_producto{
    max-width: 200px;
    max-height: 200px;
}

.boton_agregar{
    height: 30px;
    width: 160px;
    border-radius: 5px;
    background-color: #F33;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: auto;
    margin-top: 10px;
    margin-top: 5px;
}

.boton_agregar a, .boton_agregar input[type="submit"]{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
}

.boton_agregar:hover, input[type="submit"]:hover{
    background-color: #D22;
    cursor: pointer;
}

input[type="number"], input[type="submit"]{
    border: none; 
    border-radius: 3px;
    background-color: #F33;
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    text-align: right;  
}

input[type="number"]:hover, input[type="submit"]:hover{
    background-color: #C11;
}